
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

    h1 {
        color: #1d2d64;
        font-size: 40px;
    }

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: rgb(223, 223, 223);
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #1d2d64;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		/* background-color: #ffae19; */
		border-color:black;
	}

</style>


<div class="center-column">
    <h1>Update your task</h1>
<!-- sending back to the same page when submitted -->
<form method="POST" action="">
    {% csrf_token %}

    {{form}}
    <input class="btn btn-info" type="submit" name="Update task">

</form>
</div>